body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    height: auto;
}

.nav {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: rgb(27, 38, 59);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    border-bottom: 10px solid chocolate;
    gap: 1%;
}


.right-2 {
    width: 200px;
    height: 47px;
    background-color: rgb(119, 141, 169);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 18px;
    color: rgb(224, 225, 221);
    border-bottom: 3px solid chocolate;

}

.right-2:hover {
    background-color: chocolate;
}

.right-3 {
    width: 200px;
    height: 47px;
    background-color: rgb(119, 141, 169);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 18px;
    color: rgb(224, 225, 221);
    border-bottom: 3px solid chocolate;

}

.right-3:hover {
    background-color: chocolate;
}

.ana {
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: rgb(232, 236, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;

}

.name-area {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.isim {
    width: 200px;
    height: 10vh;
    margin-bottom: 50px;
    text-align: start;
    color: rgb(25, 25, 24);
    font-size: 60px;


}


.avatar {
    width: 350px;
    height: 350px;
    color: rgb(224, 225, 221);
    background-image: url(./img/pp-4.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 40% 30%;
    border: 5px solid chocolate;
    border-radius: 50%;
    margin-bottom: 50px;

}

.info {
    min-width: 350px;
    max-width: 350px;
    padding: 5px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 50px;

}

.part-2 {
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: rgba(248, 248, 248, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
}


.part-2-left {
    text-align: center;
    line-height: 20px;
    width: 350px;
    height: 300px;
    border: 3px solid rgb(27, 38, 59);
    background-color: rgba(248, 248, 248, 0.6);
    /* float: left; */
    color: rgb(25, 25, 24);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px;

}
.part-2-left a{
    text-decoration: none;
    font-size: 22px;
}

.part-2-center {
    text-align: center;
    line-height: 20px;
    width: 350px;
    height: 300px;
    border: 3px solid rgb(27, 38, 59);
    background-color: rgba(248, 248, 248, 0.6);
    color: rgb(25, 25, 24);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px;
}
.part-2-center a{
    text-decoration: none;
    font-size: 22px;
}

.part-2-right {
    text-align: center;
    line-height: 20px;
    width: 350px;
    height: 300px;
    border: 3px solid rgb(27, 38, 59);
    background-color: rgba(248, 248, 248, 0.6);
    color: rgb(25, 25, 24);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px;
}
.part-2-right a{
    text-decoration: none;
    font-size: 22px;
}


.con {
    width: 100%;
    height: auto;
    min-height: 320px;
    background-color: rgb(27, 38, 59);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
    color: rgb(25, 25, 24);
    border-top: 10px solid chocolate;



}

.con-left {
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: rgb(236, 242, 246);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(244, 241, 238);
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px; */
    margin-bottom: 10px;
    gap: 5px 15px;

}

#linkedin {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.con-center {
    width: 300px;
    height: 100px;
    background-color: rgb(236, 242, 246);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(244, 241, 238);
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px; */
    margin-bottom: 10px;

}

.con-right {
    width: 300px;
    height: 100px;
    background-color: rgb(236, 242, 246);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(244, 241, 238);
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px; */
    margin-bottom: 10px;

}